@import 'fonts';

@import 'pallete';
@import 'mixins';
@import 'utility';

@import 'el/a';
@import 'el/h-';

@import 'el/cust/login';
@import 'el/cust/job-details';



ul, ol {
    list-style: none;
}

html {
    min-height: 100%;
    position: relative;
    
    body {
        @include zeroed;
        
        font-family: $raleway;
        font-size: 12pt;
        font-weight: lighter;
        min-width: 95%;
        min-height: 100%;
        height: auto;
        width: auto;
        overflow: hidden;
        
        header {
            @include zeroed;
            
            background: $foreground;
            color: $background;
            top: 0;
            padding: .5em .5em .5em 1em;
            min-width: 95%;
            width: auto;
            height: 5em;
    
            display: grid;
            grid-template-columns: 50% 50%;
            
            h1 {
                font-weight: bolder;
                font-size: 14pt;
                display: inline-block;
                align-self: center;
                
                a {
                    color: $color1;
                    
                    &:hover {
                        color: $color1;
                    }
                }
            }
            
            ul {
                align-self: center;
                text-align: right;
                display: inline-block;
                padding-right: 1em;
                float: right;
                clear: both;
    
                li {
                    width: auto;
                    display: inline-block;
                    
                    a {
                        color: $secondary;
                        padding: .5em;
                        
                        &:hover {
                            color: $primary;
                            background: $color5;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        
        main {
            @include zeroed;
            
            padding: 1em;
            padding-bottom: 5em;
            width: 100%;
            height: 100%;
            
            position: absolute;
            top: 5em;
            bottom: 0;
            left: 0;
            right: 0;
            
            //&.loading {
            //    margin: 0 auto;
            //    margin-top: 10em;
            //
            //}
            
            &.xapp-running {
                @include zeroed;
                display: grid;
                grid-template-columns: 20% 80%;
                background: $foreground;
                color: $background;
                
                div {
                    &#sidebar {
                        background: $foreground;
                        color: $background;
                        padding: 0;
                        padding-top: 1em;
                        //padding-left: .5em;
                        
                        ul {
                            @include zeroed;
                            
                            li {
                                @include zeroed;
                                
                                padding: 0;
                                padding-top: .5em;
                                padding-bottom: .5em;
                                padding-left: 1em;
                                width: 100%;
                                text-align: left;
                                
                                &:disabled:hover {
                                    background: $foreground;
                                }
                                
                                &:hover {
                                    background: $color5;
                                    
                                }
                                
                                a {
                                    color: $background;
                                    //text-transform: uppercase;
                                    font-weight: lighter;
                                }
                            }
                        }
                    }
                    
                    &#content-area {
                        @include zeroed;
                        
                        background: $background;
                        color: $foreground;
                        padding: 1em;
                        display: block;
                        overflow: auto;
                        height: 100%;
                        
                        form {
                            &#register {
                                #strengthMeter {
                                    .short {
                                        font-weight: bold;
                                        color: $red;
                                        font-size: larger;
                                    }
                                    .weak {
                                        font-weight: bold;
                                        color: $orange;
                                        font-size: larger;
                                    }
                                    .good {
                                        font-weight: bold;
                                        color: $primary;
                                        font-size: larger;
                                    }
                                    .strong {
                                        font-weight: bold;
                                        color: $green;
                                        font-size: larger;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

